@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ATH Bike Rental System";
}
@if (User.IsInRole("Administrator"))
{
    <h1>Witaj Administrator</h1>
}
else
{
    <h1>Witaj</h1>
}

<div class="text-center">
    <h1 class="display-4">ATH Bike Rental System</h1>
    <p><h3>Witamy na portalu wypożyczalni rowerów!</br>
    Tutaj znajdziecie swój wymarzony sprzęt, pełen opis każdego z produktów do podglądnięcia na stronie.</h3></p>
    <img src="https://energy-bike.pl/wp-content/uploads/2019/03/57F4EC13-8BFD-4D8E-ACDA-1521EC3ACD9A.jpeg" alt="Vintage Bike" width="400" height="240" />
    <img src="https://d-pt.ppstatic.pl/k/r/1/dd/f5/59a6d5e9c9962_p.jpg?1505117074" alt="Vintage Bike" width="400" height="240" />
    <img src="https://bikeshop24.pl/img/c/33_thumb.jpg" alt="Vintage Bike" width="400" height="240" />
</div>
