@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
     Polityka Prywatności
    Zobowiązujemy się do zachowania dokładności, poufności i bezpieczeństwa Twoich danych osobowych („Dane osobowe”). W ramach tego zobowiązania nasza polityka prywatności reguluje nasze działania związane z gromadzeniem, wykorzystywaniem i ujawnianiem danych osobowych. Nasza polityka prywatności opiera się na wartościach określonych przez Modelowy Kodeks Ochrony Danych Osobowych Canadian Standards Association oraz Kanadyjską ustawę o ochronie danych osobowych i dokumentach elektronicznych .

    1. Wstęp

    Jesteśmy odpowiedzialni za przechowywanie i ochronę Danych Osobowych znajdujących się pod naszą kontrolą. Wyznaczyliśmy osobę lub osoby odpowiedzialne za przestrzeganie naszej polityki prywatności.



    2. Identyfikacja celów

    Gromadzimy, wykorzystujemy i ujawniamy Dane osobowe, aby zapewnić Ci produkt lub usługę, o którą prosiłeś, oraz aby zaoferować Ci dodatkowe produkty i usługi, które naszym zdaniem mogą Cię zainteresować. Cele, dla których gromadzimy Dane osobowe, zostaną określone przed lub w momencie czas zbieramy informacje. W pewnych okolicznościach cele, dla których gromadzone są informacje, mogą być jasne, a zgoda może być dorozumiana, na przykład w przypadku podania imienia i nazwiska, adresu i informacji dotyczących płatności w ramach procesu składania zamówienia.



    3. Zgoda

    Do gromadzenia, wykorzystywania lub ujawniania danych osobowych wymagana jest wiedza i zgoda, z wyjątkiem sytuacji, gdy jest to wymagane lub dozwolone przez prawo. Podanie nam danych osobowych jest zawsze Twoim wyborem. Jednak Twoja decyzja o nieprzekazywaniu pewnych informacji może ograniczyć naszą zdolność do dostarczania Ci naszych produktów lub usług. Nie będziemy wymagać od Państwa zgody na gromadzenie, wykorzystywanie lub ujawnianie informacji jako warunku dostawy produktu lub usługi, z wyjątkiem sytuacji, gdy jest to wymagane w celu dostarczenia produktu lub usługi.



    4. Ograniczanie kolekcji

    Gromadzone dane osobowe będą ograniczone do tych szczegółów, które są niezbędne do celów określonych przez nas. Za Twoją zgodą możemy zbierać od Ciebie Dane Osobowe osobiście, telefonicznie lub korespondując z Tobą za pośrednictwem poczty, faksu lub Internetu.



    5. Ograniczenie użytkowania, ujawniania i przechowywania

    Dane osobowe mogą być wykorzystywane lub ujawniane wyłącznie w celu, dla którego zostały zebrane, chyba że wyraziłeś na to inną zgodę lub gdy jest to wymagane lub dozwolone przez prawo. Dane osobowe będą przechowywane wyłącznie przez okres wymagany do realizacji celu, dla którego je zgromadziliśmy lub przez okres wymagany przez prawo. [Jeśli ma to zastosowanie, dołącz opis wszelkich stron, którym możesz udostępniać dane osobowe.]



    6. Dokładność

    Dane osobowe będą przechowywane w tak dokładnej, kompletnej i aktualnej formie, jak jest to konieczne do realizacji celów, dla których mają być wykorzystywane.



    7. Ochrona informacji o klientach

    Dane osobowe będą chronione za pomocą zabezpieczeń odpowiednich do poziomu wrażliwości informacji. Podejmujemy wszelkie uzasadnione środki ostrożności, aby chronić Twoje dane osobowe przed utratą lub nieautoryzowanym użyciem, dostępem lub ujawnieniem.



    8. Otwartość

    Udostępnimy Ci informacje o naszych zasadach i praktykach w zakresie zarządzania Twoimi Danymi osobowymi.



    9. Dostęp klienta

    Na żądanie zostaniesz poinformowany o istnieniu, wykorzystaniu i ujawnieniu Twoich danych osobowych oraz uzyskasz do nich dostęp. Możesz zweryfikować dokładność i kompletność swoich Danych Osobowych oraz, jeśli to konieczne, zażądać ich zmiany. Jednak w pewnych okolicznościach dozwolonych przez prawo nie ujawnimy Ci niektórych informacji. Na przykład, nie możemy ujawnić informacji dotyczących użytkownika, jeśli istnieją odniesienia do innych osób lub jeśli istnieją ograniczenia prawne, dotyczące bezpieczeństwa lub własności handlowej.



    10. Obsługa skarg i sugestii klientów

    Możesz kierować wszelkie pytania lub zapytania dotyczące naszej polityki prywatności lub naszych praktyk przez

    kontakt:



    [Informacje kontaktowe]



    Dodatkowe informacje



    Ciasteczka

    Plik cookie to mały plik komputerowy lub fragment informacji, który może być przechowywany na dysku twardym komputera użytkownika podczas odwiedzania naszych witryn internetowych. Możemy używać plików cookie, aby poprawić funkcjonalność naszej strony internetowej, aw niektórych przypadkach, aby zapewnić odwiedzającym spersonalizowaną obsługę online.

    Pliki cookie są szeroko stosowane, a większość przeglądarek internetowych jest początkowo skonfigurowana do automatycznego akceptowania plików cookie. Możesz zmienić ustawienia przeglądarki internetowej, aby uniemożliwić komputerowi akceptowanie plików cookie lub informować Cię, gdy otrzymasz plik cookie, abyś mógł odmówić jego akceptacji. Należy jednak pamiętać, że jeśli wyłączysz pliki cookie, możesz nie uzyskać optymalnego działania naszej witryny.

</p>
