@model ASP.Models.VehicleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>VehicleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleMark" class="control-label"></label>
                <input asp-for="VehicleMark" class="form-control" />
                <span asp-validation-for="VehicleMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleColor" class="control-label"></label>
                <input asp-for="VehicleColor" class="form-control" />
                <span asp-validation-for="VehicleColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehiclePrice" class="control-label"></label>
                <input asp-for="VehiclePrice" class="form-control" />
                <span asp-validation-for="VehiclePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
