@model IEnumerable<ASP.Areas.Admin.Models.ApplicationRole>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Description</td>
            </tr>
        }
    </tbody>
</table>